<div class="container">
  <div class="menu">
    {{#link-to "index"}}
    <h1>
      <em>SuperRentals</em>
    </h1>
    {{/link-to}}
    <div class="links">
      {{#if (can 'show about user')}}
      {{#link-to "about" class="menu-about"}} About {{/link-to}}
      {{/if}}
      {{#if (can 'show contact user')}}
      {{#link-to "contact" class="menu-contact"}} Contact {{/link-to}}
      {{/if}}
    </div>

  </div>
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
  <div class="body">
    {{outlet}}
  </div>
</div>